<section>
  <div class="container">
    <h1><u>ToDo App</u></h1>
    <div class="add_todo">
      <textarea
        (focus)="checkError()"
        autofocus
        placeholder="What will you do today?"
        rows="1"
        [(ngModel)]="description"></textarea>
      <button (click)="addTodo()" [disabled]="isLoading">
        ADD
        <div
          class="spinner-border spinner-border-sm"
          role="status"
          *ngIf="isLoading">
          <span class="sr-only"></span>
        </div>
      </button>
    </div>
    <span *ngIf="emptyError">*Enter text to Add Todo</span>

    <div class="list_todo">
      <app-todo-list
        (checkTodo)="checkTodo($event)"
        [todoList]="todoList"
        (deleteTodo)="deleteTodo($event)"></app-todo-list>
    </div>
  </div>
</section>
