<ng-template #noData>
  <h1 class="no_data">No Data</h1>
</ng-template>

<ul *ngIf="todoList?.length; else noData">
  <li class="list_element" *ngFor="let element of todoList">
    <div>
      <input
        type="checkbox"
        [checked]="element.isChecked"
        (click)="isChecked(element)" />

      <textarea [ngClass]="element.isChecked ? 'strikethrough' : ''" disabled>{{
        element.description
      }}</textarea>
    </div>
    <span (click)="isDeleted(element)"><i class="bi bi-trash-fill"></i></span>
  </li>
</ul>
